@import 'bourbon';
@import 'sfco-sass-utils';

html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	color: #222;
	background: #fafafa;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
}

main {
	width: 100%;
	margin: 0 auto;
}

header {
	@include dims( 100% auto );
}

nav {

}

a {

}

ul {
	@include set( margin padding,  0 );

	list-style: none;
}

li {
	// Positional styles
	&:nth-child( odd ) {
		background: rgba( 0, 0, 0, 0.05 );
	}
}
