// IMPORTS
@import 'bourbon';
@import 'sfco-sass-utils';

// VARS.
$color-map: (
	default: (
		black: #222,
		off-white: #fafafa,
	),
	overlay: (
		light-grey: rgba( 0, 0, 0, 0.05 ),
	),
);

// RULES
html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background: get-color( off-white );
	color: get-color( black );
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
}

main {
	margin: 0 auto;
	width: 100%;
}

header {
	@include dims( 100% auto );
}

ul {
	@include set( margin padding,  0 );

	list-style: none;
}

li {
	// Positional styles
	&:nth-child( odd ) {
		background: get-color( light-grey, overlay );
	}
}
